<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Layout utilizando html 5</title>
</head>
<body>
    <header>
        <h1>Instituto Federal do Triangulo Mineiro</h1>
        <nav>
            <ul>
                <li><a href="">Institucional</a></li>
                <li><a href="">Campi</a></li>
                <li><a href="">Sobre Nós</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section> 
            <h2>Uberlandia Centro</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, error beatae repellendus dicta officiis maxime sequi velit vel consectetur autem? Nemo, expedita vitae ea quis sint natus iusto reprehenderit hic.</p>
            <img src="img/iftm.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati nisi excepturi pariatur eum, ex, fugiat optio illo facere autem error odio quas? Praesentium provident repellendus repellat debitis asperiores dolorum ab.
            Asperiores, porro quos alias accusantium deserunt placeat! Quaerat id ducimus doloribus neque placeat quos perspiciatis a nostrum nisi possimus nulla, asperiores veritatis autem vitae tempore, culpa, nam cumque facere libero?
            Ab beatae fugit quisquam culpa, facilis cumque, reprehenderit nihil illo sapiente ducimus exercitationem libero? Placeat voluptatem sed rerum cumque fugiat tenetur veniam. Atque omnis sit at dolorem impedit, vitae quibusdam?
            Maiores at, iusto rerum illum doloribus ad magni officiis nam laboriosam hic? Corporis dignissimos hic commodi blanditiis possimus cupiditate temporibus laboriosam voluptatum quasi! Alias illum distinctio nam dolorem impedit cumque.
            Possimus voluptate dolor nesciunt exercitationem fuga cum esse veritatis quod atque alias dicta repellendus deserunt velit perferendis ea quisquam, rem, adipisci dolore mollitia pariatur expedita sed neque. Sit, laboriosam vitae?</p>
                <ul>
                    <li>Ensino</li>
                    <li>Pesquisa</li>
                    <li>Extenção</li>
                    <li>Outras Atividades</li>
                </ul>
        </section>   
        <section>
            <h2>Ituiutaba</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus exercitationem provident similique repellendus voluptatibus unde? Architecto voluptas iste asperiores eligendi omnis, consectetur, magnam quas veniam cumque at dicta obcaecati! Voluptatibus.
            Nisi laudantium, aut, hic maiores delectus dolorem ad mollitia, fugit sequi veniam earum ipsum iste cumque quis nulla velit? Alias ut, voluptas assumenda incidunt inventore quisquam adipisci id! Aliquid, doloremque?
            Laborum voluptatum deleniti illum omnis. Quas, et excepturi? Illum a alias amet vel dolor ratione nobis accusantium harum dolorem libero non numquam fugit, consectetur eos aspernatur. Magni sunt commodi vel.</p>
            <img src="img/iftm2.jpg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A inventore, odio ipsam nihil, qui temporibus ducimus tempore sit ab in magnam magni assumenda commodi quae? Quia ratione facere aut eaque!
            Dicta odio quisquam earum omnis dignissimos, aut quidem, quod ducimus quos, ipsa eaque praesentium sequi. Quia eaque molestias, incidunt, cumque minima et explicabo dicta repellendus est distinctio iste veniam dolore?
            Sapiente inventore atque fuga dignissimos hic quod ipsam odio vel aliquid quam aliquam obcaecati velit ullam eius accusamus sequi veritatis minima voluptatem rem suscipit nobis, ad soluta. Quaerat, aut laudantium.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur quibusdam quo eius odio. Nisi illum, debitis veritatis laboriosam odit distinctio vero cumque animi maiores, fugit praesentium iste amet quia minima!
            Eveniet rem ducimus aliquam nihil saepe placeat quia molestiae magni quidem ratione animi labore sequi nostrum quaerat, doloribus aliquid perspiciatis iure odit beatae deleniti minima. Vitae debitis illum ea! Cum!
            Delectus qui veritatis recusandae nemo commodi dolorum consequatur sint vitae aliquam perferendis esse, voluptatem quidem tempore, laudantium dignissimos similique maxime, necessitatibus ratione aut! Dignissimos voluptates inventore rem voluptas commodi aut?</p>
        </section>
        <section>
            <h2>Patos De Minas</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, velit nostrum? Nobis, animi ipsum. Excepturi aliquid ratione libero architecto reiciendis modi autem sit? Pariatur voluptatem eos quo facere quaerat ut?
            Earum laboriosam quo illo officia voluptatibus, quaerat voluptatem? Iure rerum unde a at tenetur fuga inventore vero, vel, dolorum optio id! Nam explicabo doloribus laboriosam enim quibusdam reprehenderit ratione blanditiis.
            Neque possimus autem modi sunt exercitationem ullam, nesciunt suscipit minima esse accusamus quisquam sequi voluptates iusto magni voluptatum cumque temporibus aliquam id! Accusamus quo ad hic architecto corporis, quos recusandae.
            Recusandae nobis suscipit enim impedit reprehenderit tempora. Accusamus voluptates incidunt fugiat ipsum iusto assumenda fugit quos repellendus. Consequuntur rem exercitationem magnam blanditiis. Ratione quasi nulla rerum fuga pariatur dicta repudiandae.
            Similique sequi unde sint temporibus soluta sed, officiis quo! Veritatis culpa distinctio praesentium nesciunt, aperiam sit expedita maxime nam. Temporibus dolores architecto unde vel similique eius iste repellat laudantium aperiam.</p>
            <img src="img/iftm3.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem magni velit adipisci nemo nostrum corrupti dolore beatae earum. Tenetur sint laudantium id magni consequuntur modi cupiditate et vero, quisquam beatae.
            Excepturi accusamus quas laborum nostrum consequuntur aspernatur error in blanditiis hic beatae tenetur autem, a voluptas inventore nam fugiat doloribus necessitatibus eius nobis quidem! Ut, ullam veritatis. Assumenda, a iste!
            Dolore, tempore optio exercitationem ab explicabo maxime atque possimus beatae. Quos odit labore distinctio id incidunt beatae possimus nam quam quasi excepturi debitis, nihil enim minus minima odio temporibus ea!
            Culpa, dolor molestias repudiandae numquam voluptas temporibus officiis, iure expedita neque ipsa reiciendis explicabo? Iste, ullam perferendis voluptate alias soluta officiis perspiciatis ipsam eos ratione sit aperiam rem enim commodi.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste voluptates quo atque, ratione tempora, maiores quos deleniti repudiandae sunt nisi dicta quae accusamus itaque impedit numquam, dolorum aut voluptas quibusdam!
            Iste, vitae culpa recusandae quaerat temporibus laboriosam, obcaecati assumenda est atque ex cupiditate porro, laborum repudiandae perspiciatis corrupti animi eum qui itaque accusantium. Voluptates fugiat veritatis delectus adipisci non harum.
            Eius voluptatum vitae nobis vel eos quidem assumenda quia aut totam harum, explicabo, laborum exercitationem necessitatibus non facere accusamus, tempore iste eligendi quisquam a ipsam tempora commodi. Quisquam, vel. Inventore.
            Quo deserunt debitis quas a? Rem sint odit sed neque consequatur impedit, quam minus maxime necessitatibus dolores dignissimos itaque voluptates nemo odio? Perferendis quia culpa commodi ut consequuntur iste assumenda?</p>
            <p><a href="#">Voltar Ao Topo</a></p>
        </section>
        </main>
        <footer>
            <P>Rodape da Pagina</P>
        </footer>
</body>
</html>